.event-container {
  display: flex;
  flex-direction: column; /* Stack title and icon vertically */
  align-items: flex-start; /* Align title to the left */
  padding: 5px;
  border-radius: 4px;
}

.event-title-container {
  width: 100%;
}

.event-title {
  font-size: 14px;
  font-weight: 900;
  color: #FFFFFF;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Center icon horizontally */
  align-items: flex-end; /* Center icon vertically */
  width: 100%; /* Take full width to center align */
}

.rbc-day-slot .rbc-event-label {
  text-align: center;
  font-size: 10px;
  margin-top: 3px
}